<ul id="menu" class="menu menu-left">
    {{#foreach navigation}}
        <li class="menu-item menu-item-home nav-{{slug}}{{#if current}} nav-current{{/if}}" role="presentation">
            <a href="{{url absolute="true"}}" rel="section">
                {{#get "tags" limit="all" include="count.posts" order="count.posts desc" }}
                <h4 class="hu-aside-title">文章分类</h4>
                    {{#foreach tags}}
                        <a href="/tag/{{slug}}"> &ensp;&ensp;&ensp;{{name}}（{{count.posts}}篇）</a>
                    {{/foreach}}    
                {{/get}}
            </a>
        </li>
    {{/foreach}}
</ul>

