        <section class="site-overview sidebar-panel" style="display: block;">
            <link href="{{asset "css/custom.css"}}" rel="stylesheet" type="text/css">
            <div class="site-author motion-element" itemprop="author" itemscope="" itemtype="http://schema.org/Person">
                <img class="site-author-image author-logo" itemprop="image" src="{{@blog.logo}}" alt="{{@blog.title}}">
                <p class="site-author-name" itemprop="name">胡刘郏</p>
                <center><p>后台开发工程师</p></center>

            </div>

            <div class="hu-social-link">
                <h4 class="hu-aside-title">LINKS</h4>
                <center>
                <a class="hu-link" href="https://github.com/skydamon" target="_blank" rel="alternate">Gihub</a> <span>&ensp;</span>
                <a class="hu-link" href="https://blog.csdn.net/damontive" target="_blank" rel="alternate">CSDN</a> <span>&ensp;</span>
                <a class="hu-link" href="https://feedly.com/i/subscription/feed/{{@blog.url}}/rss/" target="_blank" rel="alternate">RSS</a>
                </center>
            </div>

            <div class="hu-tags">
                <br>
                <h4 class="hu-aside-title">文章分类</h4>
                {{! Tag Cloud }}
                {{#get "tags" limit="all" include="count.posts" order="count.posts desc" }}
                    {{#foreach tags}}
                    <li class="hu-a-tag">
                        <a class="hu-tag-name" href="/tag/{{slug}}"> {{name}}（{{count.posts}}篇）</a>
                    </li>
                    {{/foreach}}
                    
                {{/get}}
            </div>


</section>
