{{!< default}} 
<div class="content-wrap">
    <link href="{{asset "css/custom.css"}}" rel="stylesheet" type="text/css">
    <div id="content" class="content">
        {{#tag}}
        <center>
            <h1 class="hu-tag-title">{{name}}</h1>
        </center>
        {{/tag}}
        <hr id="hu-line">
        <section id="posts" class="posts-expand">
            {{#foreach posts}}
            <article class="post posts-type-normal">
                <header class="post-header">
                    <h1 class="post-title" itemprop="name headline">
                        <a id="hu-title" class="post-title-link" href="{{url}}">{{{title}}}</a>
                    </h1>
                    <div class="post-meta">
                        <span class="post-time">
                            <span class="post-meta-item-icon"></span>
                            <span class="post-meta-item-text">发表于</span>
                            <time>{{date format='YYYY-MM-DD'}}</time>
                        </span>
                        <span class="post-category">&nbsp; | &nbsp;
                            <span class="post-meta-item-icon"><i class="fa fa-folder-o"></i></span>
                            <span class="post-meta-item-text">分类</span>
                            <span itemprop="about" itemscope="" itemtype="https://schema.org/Thing">
                                {{#if tags}}
                                {{tags}}
                                {{/if}}
                            </span>
                        </span>
                    </div>
                </header>
                <div class="post-body" itemprop="articleBody">
                    {{content words="24"}}
                </div>
                <footer class="post-footer">
                    <div class="post-eof"></div>
                </footer>
            </article>
            {{/foreach}}
        </section>
        {{pagination}}
    </div>
</div>

    <aside id="sidebar" class="sidebar" style="display: block; width: 240px;">
        <div class="sidebar-inner">
            {{> sidebar}}
        </div>
    </aside>